---
layout: page
title: StarGazer
subtitle: A Place for Physics, Math and Data Talk
use-site-title: true
---

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
    box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 33%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>
</head>
<body>

<h2 style="text-align:center">Here are some of my thoughts on... </h2>

<div class="row">
  <div class="column"> 
    <h2 style="text-align:center">Physics</h2>
    {% for post in site.categories.Physics %}
      <span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a>
    {% endfor %}
  </div>
  <div class="column"> 
    <h2 style="text-align:center">Math</h2>
    {% for post in site.categories.Math %}
      <span><a href="{{ post.url }}">{{ post.title }}</a> &nbsp; {{ post.date | date_to_string }}</span> 
  </div>
  <div class="column"> 
    <h2 style="text-align:center">Data</h2>
    {% for post in site.categories.Data %}
      <span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a>
    {% endfor %}
  </div>
</div>

</body>
</html>
